.photo-info {
    font-size: 12px;
}

.photo-info .title {
    font-weight: bold;
}

.previewe {
    font-size: 12px;
    font-weight: bold;
    display: grid;
}

.previewe img {
    margin: auto;
    padding: 5px;
    max-width: 100%;
}

