.album {
    background-color: rgba(160, 160, 160, 0.15);
}

.album:hover {
    background-color: rgba(160, 160, 160, 0.3);
    cursor:pointer;
}

.album-title {
    font-size: 14px;
    color: #337ab7;
    font-weight: bold;
}

.album-details {
    font-size: 12px;
    font-weight: bold;
    color: #9E9E9E;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.img-padding {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 65px;
}

.album-info {
    padding-left: 0px;
    width: 100%; 
}
