<div class="col-md-12 bottom-border">
  <h5>Welcome, {{fullName}}</h5>
</div>
<template ngFor let-photoset [ngForOf] = "photosetList">
  <div class="col-md-12 bottom-border album vertical-align">
    <div class="col-md-2">
      <img class="img-padding" [src]="photoset.primary_photo_extras.url_sq" />
    </div>
    <div class="col-md-9 album-info">
      <div class="col-md-12 album-title">
        <span>{{photoset.title._content}}</span>
      </div>
      <div class="col-md-12 album-details">
        <i class="fa fa-file" aria-hidden="true"></i>
        <span> {{photoset.photos}} files</span>
      </div>
      <div class="col-md-12 album-details">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <span> {{(photoset.date_update | amFromUnix) | amTimeAgo}}</span>
      </div>
    </div>
    <div class="col-md-1">
      <span class="fa fa-angle-double-right angle-double-right" aria-hidden="true"></span>
    </div>
  </div>
</template>
<div class="col-md-12 bottom-border text-center load-more" [hidden]="isAllPhotosetsLoaded()" (click)="loadPhotoset()">
  <i class="fa fa-angle-double-down angle-double-down" aria-hidden="true"></i>
</div>
