<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a class="glyphicon glyphicon-picture" aria-hidden="true" href="#"></a>
  </li>
  <li role="presentation">
    <a href="#"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></a>
  </li>
  <li role="presentation">
    <a class="glyphicon glyphicon-map-marker" aria-hidden="true" href="#"></a>
  </li>
  <li role="presentation">
    <a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></a>
  </li>
  <li role="presentation">
    <a href="#"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></a>
  </li>
  <li role="presentation">
    <a href="#"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span></a>
  </li>
</ul>