.folder-icon {
    font-size: 21px;
    padding-right: 10px;
}

.photo {
    background-color: rgba(120, 120, 120, 0.15);
    border-bottom:1px solid #ddd;
    border-radius: 5px;
    margin: 8px;
    display: grid;
}

.photo img{
    border-radius: 5px 5px 0 0;
}

.photos-grid {
    display: flex;
    flex-wrap: wrap;
}

.photo-select {
    font-size: 12px;
    font-weight: bold;
    color: #337ab7;
    text-decoration: underline;
    margin-left: 5px;
    cursor:pointer;
}

.photo-select:hover {
    text-decoration: none;
}

.photo-select.select {
    margin-left: 5px;
}
