<div class="col-md-12 album-title bottom-border">
  <i class="fa fa-angle-left back-icon" aria-hidden="true" routerLink="/albums"></i>
  <i class="fa fa-folder folder-icon" aria-hidden="true"></i>
  <span class="album-title-text">Trees</span>
</div>
<div class="row">
  <div class="col-md-12 photos-grid">
    <template ngFor let-photo [ngForOf] = "photos">
      <div class="photo">
        <img [src]="photo.url_sq" />
        <span class="photo-select">
          <i class="fa fa-check" aria-hidden="true"></i><span class="text">Select</span>
        </span>
      </div>
    </template>
  </div>
</div>
<div class="col-md-12 bottom-border text-center load-more" [hidden]="isAllPhotosLoaded()" (click)="loadPhotos()">
  <i class="fa fa-angle-double-down angle-double-down" aria-hidden="true"></i>
</div>
